.container {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.image {
    z-index: -1;
}

.whiteColor {
    color: white;
}

.App {
    background-color: white;
}
  
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.Login-wrapp {
  margin-top: 0;
}

.Login-button {
  border: 1px solid rgba(0, 55, 255, 0.898);
  font-weight: 700;
  border-radius: 6px;
  height: auto;
  display: block;
  font-size: 16px;
  padding: 6px 15px!important;
  color: #000;
  cursor: pointer;
}

.ico-us{

  color: #fff!important;
  margin-right: 6px;
  border-radius: 50px;
  min-width: 16px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: -5px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}